*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: linear-gradient(30deg, rgb(0, 0, 0),rgb(1, 1, 29));
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
p{
    font-size: 35px;
    margin-bottom: 20px;
    color: rgb(0, 255, 242) ;;
}


.content{
    box-shadow: rgb(162, 0, 255) 1px 1px 9px 3px;
    border-radius: 8px;
    padding: 40px;
    width: 50vw;
    text-align: center;
}
